[submodule "deps/DPF"]
	path = deps/DPF
	url = https://github.com/DISTRHO/DPF.git
[submodule "deps/DPF-Widgets"]
	path = deps/DPF-Widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/rnnoise"]
	path = deps/rnnoise
	url = https://github.com/falkTX/rnnoise.git
